* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'HelveticaNeue', 'Helvetica Neue', helvetica, Sans-Serif;
}

body {
  background: linear-gradient(90deg,
      rgb(246, 92, 42) 0%,
      rgb(248, 158, 129) 100%);
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520;
  min-height: 600px;
  background: #ffffff;
  text-align: center;
  margin: 80px auto;
  border-radius: 10px;
  padding-bottom: 2px;
}

h1 {
  margin: 45px 0;
  color: rgb(0, 0, 0);
  font-size: 40px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 30px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #303030;
  outline: none;
  width: 400px;
  background: transparent;
  color: rgb(0, 0, 0);
}

.todo-button {
  width: 200px;
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(90deg,
      rgba(48, 48, 48) 0%,
      rgba(246, 92, 42) 100%);
  color: #fff;
  text-transform: capitalize;
}

.todo-filter {
  width: 100px;
  padding: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(90deg,
      rgba(48, 48, 48) 0%,
      rgba(246, 92, 42) 100%);
  color: #fff;
  text-transform: capitalize;
  margin: 0 5px;
}


.todo-input.edit {
  border: 2px solid #303030;
}

.todo-button.edit {
  background: linear-gradient(90deg,
      rgba(48, 48, 48) 0%,
      rgba(246, 92, 42) 100%);
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: rgb(255, 255, 255);
  background: linear-gradient(90deg,
      rgb(246, 92, 42) 0%,
      rgb(250, 149, 115) 100%);
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #303030;
  width: 70%;
}

.todo-row:nth-child(2n + 1) {
  background: linear-gradient(90deg,
      rgb(48, 48, 48) 0%,
      rgb(92, 91, 91) 100%);
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 10px;
  color: rgb(253, 4, 4);
}

.edit-icon {
  margin-right: 20px;
  color: rgb(0, 0, 0);
}

.complete-icon {
  margin-right: 40px;
  color: rgb(0, 255, 0);
}
